@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/aqua";

body {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    font: var(--font-m);
    color: var(--primary-color);
    min-height: 100vh;
    background: var(--bg-color);
}

.app_redesigned {
    min-height: 100vh;
    background: var(--bg-redesigned);
    color: var(--text-redesigned);
    font: var(--font-m-redesigned);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 8px; /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg); /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color); /* цвет бегунка */
}
