.link {
    margin-left: 10px;
    opacity: 1;
}

.item {
    display: flex;
    align-items: center;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    .link {
        width: 0;
        opacity: 0;
        transition: 0.2s opacity;
    }
}

.itemRedesigned {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px;
}

.collapsedRedesigned {
    padding: 0 8px;
    height: 30px;

    .link {
        width: 0;
        opacity: 0;
        margin: 0;
    }
}

.active {
    position: relative;
    background: linear-gradient(90deg, rgb(95 210 245 / 30%) 1.15%, rgb(95 210 240 / 0%) 100%);

    &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        left: 0;
        background: var(--accent-redesigned);
    }
}
