.app_aqua_theme {
    --bg-color: #e0f0ea;
    --inverted-bg-color: #95adbe;
    --primary-color: #3c2a4d;
    --secondary-color: #574f7d;
    --inverted-primary-color: #271b31;
    --inverted-secondary-color: #397e93;

    // redesigned
    --dark-bg-redesigned: #285780;
    --bg-redesigned: #006eb3;
    --light-bg-redesigned: #3eb1c8;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #4ac9e3;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #64ccc9;

    // skeleton
    --skeleton-color: #c9d8e7;
    --skeleton-shadow: #95adbe;

    // code
    --code-bg: rgb(149 173 190 / 45%);

    // card
    --card-bg: #95adbe;

    // listbox
    --listbox-bg: #95adbe;
}
