.app_aqua_theme {
    --bg-color: #e0f0ea;
    --inverted-bg-color: #95adbe;
    --primary-color: #3c2a4d;
    --secondary-color: #574f7d;
    --inverted-primary-color: #271b31;
    --inverted-secondary-color: #397e93;

    // skeleton
    --skeleton-color: #c9d8e7;
    --skeleton-shadow: #95adbe;

    // code
    --code-bg: rgba(149, 173, 190, 0.4);

    // card
    --card-bg: #95adbe;

    // listbox
    --listbox-bg: #95adbe;
}
