.app_aqua_theme {
    --bg-color: #47b7b3;
    --inverted-bg-color: #f4fbfb;
    --primary-color: #397e93;
    --secondary-color: #47b7b3;
    --inverted-primary-color: #397e93;
    --inverted-secondary-color: #397e93;

    // skeleton
    --skeleton-color: #d0d0d0;
    --skeleton-shadow: #67eae8;
}
