.app_dark_theme {
    --bg-color: #0b0a0a;
    --inverted-bg-color: #181818;
    --primary-color: #fff;
    --secondary-color: #cacaca;
    --inverted-primary-color: #dfdfdf;
    --inverted-secondary-color: #fff;
}
