.app_dark_theme {
    --bg-color: #0b0a0a;
    --inverted-bg-color: #181818;
    --primary-color: #fff;
    --secondary-color: #cacaca;
    --inverted-primary-color: #dfdfdf;
    --inverted-secondary-color: #fff;

    // skeleton
    --skeleton-color: #4c4a4a;
    --skeleton-shadow: #fff;

    // code
    --code-bg: #4c4a4a;

    // card
    --card-bg: #191919;

    // listbox
    --listbox-bg: #191919;
}
