.app.light {
  --bg-color: #e8e8e8;
  --inverted-bg-color: #0e0e75;

  --primary-color: #0924a5;
  --secondary-color: #069069;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}