.app_light_theme {
    --bg-color: #ebecee;
    --inverted-bg-color: #fdfdfd;
    --primary-color: #414141;
    --secondary-color: #000;
    --inverted-primary-color: #363636;
    --inverted-secondary-color: #04ff04;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: #5a5959;

    // code
    --code-bg: #fdfdfd;
}
